.card {
  flex: 1 0 200px;
  box-sizing: border-box;
  margin: 1rem;
  padding: 0.5em;

  background-color: var(--whiteColor);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card h1 {
  font-size: 18pt;
  margin-top: 0;
  margin-bottom: 8px;
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1.25;
  object-fit: cover;
}